<a href="https://colab.research.google.com/github/toan27062002/baitap/blob/main/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
c1 = pd.Series([1,3,2,7,8,6,8,9,0,4])
c1

0    1
1    3
2    2
3    7
4    8
5    6
6    8
7    9
8    0
9    4
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [ ]:
dic2 = {'hs1': 9, 'hs2': 10, 'hs3': 5, 'hs4': 7, 'hs5': 2}
c2 = pd.Series(dic2)
c2

hs1     9
hs2    10
hs3     5
hs4     7
hs5     2
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [ ]:
c1.index = ['hs1','hs2','hs3','hs4','hs5','hs6','hs7','hs8','hs9','hs10']
c1

hs1     1
hs2     3
hs3     2
hs4     7
hs5     8
hs6     6
hs7     8
hs8     9
hs9     0
hs10    4
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [ ]:
c2[4]

2

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [ ]:
c1['hs9']

0

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [ ]:
c1[[name.endswith('9') for name in c1.index]]

hs9    0
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [ ]:
c1.name = 'Gia_tri'
c1.index.name= 'STT'
c1

STT
hs1     1
hs2     3
hs3     2
hs4     7
hs5     8
hs6     6
hs7     8
hs8     9
hs9     0
hs10    4
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [ ]:
c1.apply(np.log)

STT
hs1     0.000000
hs2     1.098612
hs3     0.693147
hs4     1.945910
hs5     2.079442
hs6     1.791759
hs7     2.079442
hs8     2.197225
hs9         -inf
hs10    1.386294
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [ ]:
c1[c1>15]

Series([], Name: Gia_tri, dtype: int64)